body{
    font-family: serif;
    text-align: center;
    background-color: tan;
}
header {
    background-color: teal;
    color: white;
    padding: 5px 0;
    margin-bottom: 20px;
}

#rain{
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#image-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
    margin: 0;
    padding: 20px;
    border: 1px;
    border-radius: 5px;
}
.image{
    width: 150px;
    height: auto;
    border: 1px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

section{
    margin: 20px 0;
}

a{
    color:aqua;
    text-decoration: none;
}

#credit{
    background-color: teal;
}