/*Note how to comment within CSS*/
/*Structure*/
body {
    background:violet;
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    background: white;
    padding: 5px;
    margin:20px auto;
    border-radius: 10px;
    border:5px solid green;
}
/*Navigation*/
#main-nav ul{
    padding-left: 0; /*Removes left padding*/
    width: fit-content;
    margin:auto;
}

#main-nav li{
    list-style-type: none; /*No Bullets*/
    display: inline-block;
}
#main-nav a {
    text-decoration: none;  /*No Underline*/
    background: pink;
    color: white;
    padding:5px;
    margin: 5px;
    border-radius:2px;
}

#main-nav a:hover {
    background: black;
    color:pink;
}

h1 {
    color:red;
}

p{
    color:blue;
}