body{
    background: tan;
}

h1{
    color: teal;
    text-align: center;
}

#main-nav  ul {
 padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: coral;
    border-bottom: 1px solid gray;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

h2{
    color: teal;
    padding: 15px;
}

#flexbox-1, img{
    background: teal;

    color: white;
    margin: 10px;
   
}

#flexbox-1 h3{
    padding: 15px;
}



#flexbox-2{
    background: coral;
    color: white;
    margin: 10px;
}

#flexbox-2 h3{
    padding: 15px;
}

#main-footer{
    background-color: tan;
    color: teal;
    text-align: center;
}

/*larger resolutions*/
@media (min-width: 900px) {
    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        flex: 1;
        border-right: 1px solid gray;
       
    }

    #flexbox-1, img{
        background: teal;
        color: white;
        margin: 10px;
        display: flex;
        flex: 1;
    }

    #flexbox-2{
        background: coral;
        color: white;
        margin: 10px;
        display: flex;
    }

    .grid-1{
        background-color: aquamarine;
        display: grid;
       
    }
    
}