body{
    background: tan;
}

h1{
    color: teal;
    text-align: center;
}

#main-nav  ul {
 padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: coral;
    border-bottom: 1px solid gray;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    color: white;
}

h2{
    color: teal;
    padding: 15px;
}

#flexbox-1, img{
    background: teal;

    color: white;
    margin: 10px;
   
}

#flexbox-1 h3{
    padding: 15px;
}



#flexbox-2{
    background: coral;
    color: white;
    margin: 10px;
}

#flexbox-2 h3{
    padding: 15px;
}

.title-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    color: white;
}

.col1of3, .column2of3, .column3of3 {
    flex: 1;
}

.col1of3, .column3of3 {
    background-color: teal;
}

.column2of3{
    background-color: coral;
}

#secondary-nav{
    list-style-type: none;
}

#secondary-nav li{
    list-style-type: none;
}

#secondary-nav a{
    text-decoration: none;
    color: white;
}

#main-footer{
    background-color: tan;
    color: teal;
    text-align: center;
}

/*larger resolutions*/
@media (min-width: 900px) {
    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        flex: 1;
        border-right: 1px solid gray;
    }

    #flexbox-1, img{
        background: teal;
        color: white;
        align-items: center;
        margin: 10px;
        display: flex;
        flex: 1;
    }

    #flexbox-2{
        background: coral;
        color: white;
        margin: 10px;
        display: flex;
    }

    .title-container {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    .grid-1{
        background-color: aquamarine;
        display: grid;
    }

    .column2of3{
        height: 100%;
        background-color: coral;
    }

    .col1of3, .column3of3 {
        display: grid;
    }
    
}