body{
    background-color: beige;
    text-align: center;
}

h1{
    color: teal;
}

h2{
    color: coral;
}

h4{
    color: teal;
}

h4:hover{
    cursor: pointer;
}

#popup{
    display: none;
    box-shadow: 5px 10px;
    text-align: center;
    background-color: bisque;
    margin: auto;
    width: auto;
    position: absolute;
    bottom: 250px;
    left: 150px;
    padding: 30px;
   
}

#popup img{
    height: 300px;
    width: 300px;
}

#close{
    position: absolute;
    top: 5px;
}

#close :hover{
    cursor: pointer;
}

/*Added media query since position absolute kept the popup
on the far left on larger resolutions*/

@media only screen and (min-width: 850px){
    #popup{
        position: absolute;
        bottom: 250px;
        left: 550px;
    }
}