body{
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: turquoise;
    flex-direction: column;
}

header{
    text-align: center;
    margin-bottom: 20px;
    color: coral;
}

main{
    padding: 20px;
    border-radius: 10px;
}

.star-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amt-stars{
    padding: 5px;
    margin: 5px 0;
   
}

#draw-button {
    padding: 8px 10px;
    margin-left: 10px;
    cursor: pointer;
    margin: 5px 0;
}

.canvas{
    background-color: black;
    margin-top: 15px;
    width: 300px;
    height: 300px;
    position: relative;
    border: 10px;
}

/*https://www.youtube.com/shorts/kLh4vTxPnBM

Watched the youtube short on how to create the star and adjusted the code further*/
.star{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        100% 35%,
        68% 57%,
        79% 100%,
        50% 70%,
        21% 100%,
        32% 57%,
        0% 35%,
        39% 35%
    );
    cursor: pointer;
}

.star::before, 
.star::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid yellow;
}

.star::before {
    transform: rotate(-70deg);
    top: 7px;
    left: -12px;
}

.star::after{
    transform: rotate(70deg);
    top: 7px;
    left: -12px;
}

.error{
    color: red;
    margin-top: 10px;
}

.message{
    position: absolute;
    transform: translateX(-50%);
    padding: 5px 10px;
    display: none;
    border-radius: 8px;
}

/*Media Query*/
@media (max-width: 600px) {
    .canvas{
        width: 300px;
        height: 300px;
    }

    #amt-stars, #draw-button{
        width: 75%;
        margin: 10px 0;
    }

    .star {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid yellow;
    }

    .star::before, .star::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid yellow;
    }

   
}